# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
/kukoo/src/main/java/com/kukoo/.DS_Store
/kukoo/target/classes
.DS_Store
/kukoo/target/m2e-wtp/web-resources/META-INF/maven/com.kukoo/kukoo/pom.xml
/kukoo/target/m2e-wtp/web-resources/META-INF/maven/com.kukoo/kukoo/pom.properties
/bin/
