<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 用户mybatis mapper 文件配置 -->
<mapper namespace="com.kukoo.base.mapper.UserMapper">
	<!-- 根据手机号查询用户对象 -->
	<select id="queryUserByMobile" parameterType="string" resultType="com.kukoo.base.model.User">
		SELECT
			ID,
			USER_ID,
			USER_NAME,
			MOBILE,
			PASSWORD,
			EMAIL,
			STATUS,
			DELETED,
			UPDATE_TIME,
			COUNT,
			CAPTCHA,
			CAPTCHA_TIME,
			SAVE_TIME
		FROM
			tt_user
		WHERE
			MOBILE=#{mobile}
	</select>
	
	<insert id="saveUser" parameterType="com.kukoo.base.model.User">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			select REPLACE(UUID(),'-','')
		</selectKey>
		insert into tt_user
		(
			ID,
			USER_ID,
			USER_NAME,
			MOBILE,
			PASSWORD,
			EMAIL,
			STATUS,
			DELETED,
			SAVE_TIME,
			UPDATE_TIME,
			COUNT,
			CAPTCHA,
			CAPTCHA_TIME
		)
		values
		(
			#{id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{userName,jdbcType=VARCHAR},
			#{mobile,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{deleted,jdbcType=VARCHAR},
			#{saveTime,jdbcType=DATE},
			#{updateTime,jdbcType=DATE},
			#{count,jdbcType=VARCHAR},
			#{captcha,jdbcType=VARCHAR},
			#{captchaTime,jdbcType=DATE}
		)
	</insert>
</mapper>


<!-- 建表语句 -->
<!-- create table tt_user(
	id varchar(32) PRIMARY KEY COMMENT "主键id", 
  user_id varchar(64) COMMENT "用户id",
  user_name varchar(64) COMMENT "用户名",
  mobile varchar(11) COMMENT "手机号",
  password varchar(32) COMMENT "密码",
  email varchar(256) COMMENT "邮箱",
  status varchar(10) COMMENT "账号状态 0正常 1锁定",
  deleted varchar(10) COMMENT "删除标识 0未删除 1已删除",
  update_time datetime COMMENT "更新时间",
  count varchar(10) COMMENT "失败次数",
  captcha varchar(10) COMMENT "验证码",
  captcha_time datetime COMMENT "验证码有效时间",
  save_time datetime COMMENT "注册时间"
)

ALTER TABLE tt_user ADD INDEX index_mobile (mobile) -->