body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .nav li {
      padding-top: 0px;
      }
      
      .sidebar-nav {
        padding: 9px 0;
      }
.leaderboard {
  max-width:670px;
  height:200px;
  padding: 18px 78px 32px 44px;
  margin-bottom: 0px;
  background-color:#f8f8f8;
  font-size:14px;
  color:#666666;
  float:left;
}
.leaderboardMargin{
	margin:0px 78px 0px 24px;
	width:100%;
}
.leaderboard p {
  font-size: 20px;
  top: 18px;
  bottom: 16px;
  color:#333333;
}
/* .leaderboard p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
} */

.well {
background-image: url('/twitter-bootstrap/images/gridbg.gif');
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.nav>li>a {
	margin:0;
	border-radius: 0px;
	background-color:rgb(240,240,240);
	
}
.nav>li{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
     border-radius: 0 !important;
}

.nav-tabs.nav-justified>li>a{
	border-radius:0 !important;
}


.div-padding{
	padding:0px 10px 0px 10px;
}

@media (min-width: 1200px){
	.div-padding{
		padding:0px 150px 0px 150px;
	}
}

.charts{
	    //给DIV定义宽高
        width: 300px;
        height: 500px;
}
.redbtn,.blackbtn{
	box-shadow:0px 0px 5px #888888;
	color:#FFFFFF;
	cursor:pointer;
	font-size:1px;
}
.blackbtn{
	background-color:rgb(12,86,214);
}
.redbtn{
	background-color:rgb(12,86,214);
}

